body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input{
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#loginButton{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #06C755;
    border: 0px;
    transition: 50ms;
}

#loginButton:hover{
    transition: 50ms;
    background-color: #028137;
}

#loginButton::after{
    transition: 50ms;
    background-color: #00200d;
}